@font-face{
    font-family: "tt-interphases";
    src: url("./fontregular.ttf");
}

@font-face{
    font-family: "tt-interphases";
    src: url("./fontbold.ttf");
    font-weight: bold;
}

*{
    font-family: "tt-interphases";
    font-size: 1.3vw;
}   

@media screen and (max-width: 600px) {
    *{
      font-size: 3.5vw;
    }
}
body{
    color:white;
    margin: 50px 0px 0px;
    background-color:#131489;
    background-image:
    linear-gradient(to right, #131489, #13158990),
    url("/wizualizacja.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: 50%;
    /* background-color: #131489; */
}

header{
    margin-left: 10vw;
    display: inline-block;
    width: fit-content;
}

#pomyslodawca{
    margin-right:10vw;
    display: inline-block;
    float: right;
    text-align: right;
}

main{
    margin: 50px 10vw;
}

footer{
    padding: 30px 10vw;
    color: white;
    background-image: linear-gradient(to right, #0081dd, #0081dd);
}

#title{
    font-weight: bold;
    margin:0;
    font-size: 3em;
    background-image: linear-gradient(90deg, #8bfff0, #8bfff01b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.a1{
    margin:0;
    color:#8bfff0; 
    font-size: 2em;
}

#glosowanie{
    font-weight: bold;
    color: #131489;
    /* background-color: #8bfff0; */
    background-image: linear-gradient(to right, #8bfff0, #8bfff09d);
    margin:0;
    width: fit-content;
    font-size: 1.5em;
    border-radius:30px;
    padding:5px;
}

#zalety{
    list-style-type: "✔ ";
}
h1{
    font-size:1.25em;
}

.u{
    /* background-color: white; */
    background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.692));
    width: fit-content;
    color:#131489;
    padding:5px;
    border-radius:30px;
}

li{
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.435);
    border-radius: 30px;
    padding: 4px;
    margin-bottom:10px;
}

li::marker{
    color:white;
}