@font-face{
    font-family: "tt-interphases";
    src: url("./fontregular.ttf");
}

@font-face{
    font-family: "tt-interphases";
    src: url("./fontbold.ttf");
    font-weight: bold;
}

*{
    color:white;
    font-family: "tt-interphases";
    font-size: 1.3vw;
}   

@media screen and (max-width: 600px) {
    *{
      font-size: 3.5vw;
  
    }
}
body{
    margin: 50px 0px;
    background-image: linear-gradient(90deg,#131489, #0e0f61);
}

header{
    margin-left: 10vw;
    display: inline-block;
    width: fit-content;
}

aside{
    margin-right:10vw;
    display: inline-block;
    float: right;
    text-align: right;
}

main{
    margin: 50px 10vw;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 50px 10vw;
    color: white;
    background-color: #0080dd;
    margin:50px, 0px;
}

#title{
    margin:0;
    font-size: 3em;
    background-image: linear-gradient(90deg, #8bfff0, #ffffff00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.a1{
    margin:0;
    color:#8bfff0; 
    font-size: 2em;
}